<div class="container-fluid" id="principal">
    <div id="profile-page-header" class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="./assets/images/fundo perfil.png" alt="user background">
        </div>
        <figure class="card-profile-image">
            <img id="imgPerfil" src="./assets/images/avatar-7.png" alt="profile image" class="circle z-depth-2 responsive-img activator gradient-45deg-light-blue-cyan gradient-shadow">
            <div class="col s12 m6 share-icons">
                <a href="#">
                    <i class="material-icons grey-text text-darken-1">camera_alt</i>
                </a>
                <a href="#">
                    <i class="material-icons grey-text text-darken-1">account_circle</i>
                </a>
                <a href="#">
                    <i class="material-icons grey-text text-darken-1">photo_size_select_actual</i>
                </a><a href="#">
                <i class="material-icons grey-text text-darken-1">location_on</i>
            </a></div>
        </figure>
        <div class="card-content">
            <div class="row pt-2">
                <div class="col s12 m3 offset-m2">
                    <h4 class="card-title grey-text text-darken-4">Roger Waters</h4>
                    <p class="medium-small grey-text">Project Manager</p>
                </div>
                <div class="col s12 m2 center-align">
                    <h4 class="card-title grey-text text-darken-4">10+</h4>
                    <p class="medium-small grey-text">Work Experience</p>
                </div>
                <div class="col s12 m2 center-align">
                    <h4 class="card-title grey-text text-darken-4">6</h4>
                    <p class="medium-small grey-text">Completed Projects</p>
                </div>
                <div class="col s12 m2 center-align">
                    <h4 class="card-title grey-text text-darken-4">$ 1,253,000</h4>
                    <p class="medium-small grey-text">Busness Profit</p>
                </div>
                <div class="col s12 m1 right-align">
                    <a class="btn-floating activator waves-effect waves-light rec accent-2 right">
                        <i class="material-icons">perm_identity</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <p>
                    <span class="card-title grey-text text-darken-4">Roger Waters
                      <i class="material-icons right">close</i>
                    </span>
                <span>
                      <i class="material-icons cyan-text text-darken-2">perm_identity</i> Project Manager</span>
            </p>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            <p>
                <i class="material-icons cyan-text text-darken-2">perm_phone_msg</i> +1 (612) 222 8989</p>
            <p>
                <i class="material-icons cyan-text text-darken-2">email</i> mail@domain.com</p>
            <p>
                <i class="material-icons cyan-text text-darken-2">cake</i> 18th June 1990</p>
            <p>
                <i class="material-icons cyan-text text-darken-2">airplanemode_active</i> BAR - AUS</p>
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <div class="row">
                <div class="col s12 z-depth-3">
                    <h3>Dados Pessoais</h3>
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="txt_first_name" type="text" class="validate">
                                <label for="txt_first_name">Nome</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="txt_second_name" type="text" class="validate">
                                <label for="txt_second_name">Sobrenome</label>
                            </div>

                            <div class="input-field col s4">
                                <input id="txt_nasc" type="text" class="validate">
                                <label for="txt_nasc">Dt. Nascimento</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="txt_cpf" type="text" class="validate">
                                <label for="txt_cpf">CPF</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="txt_rg" type="text" class="validate">
                                <label for="txt_rg">RG</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">person_pin</i>
                                <input id="txt_end" type="text" class="validate">
                                <label for="txt_end">Endereço</label>
                            </div>

                            <div class="input-field col s3">
                                <input id="txt_num" type="text" class="validate">
                                <label for="txt_num">Numero</label>
                            </div>
                            <div class="input-field col s9">
                                <input id="txt_compl" type="text" class="validate">
                                <label for="txt_compl">Complemento</label>
                            </div>

                            <div class="input-field col s5">
                                <input id="txt_bairro" type="text" class="validate">
                                <label for="txt_bairro">Bairro</label>
                            </div>
                            <div class="input-field col s5">
                                <input id="txt_cidade" type="text" class="validate">
                                <label for="txt_cidade">Cidade</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="txt_uf" type="text" class="validate">
                                <label for="txt_uf">UF</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s4">
                                <i class="material-icons prefix">phone</i>
                                <input id="txt_telefone" type="tel" class="validate">
                                <label for="txt_telefone">Telefone</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="txt_celular" type="tel" class="validate">
                                <label for="txt_celular">Celular</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="txt_contato" type="tel" class="validate">
                                <label for="txt_contato">Contato</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">email</i>
                                <input id="txt-email" type="email" class="validate">
                                <label for="email">Email Pessoal</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="txt_email_coop" type="email" class="validate">
                                <label for="txt_email_coop">Email Corporativo</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>