body {
  background-color: white;
}

img.responsive-img, video.responsive-video {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 321px) {
  #imgPerfil {
    margin-top: -90px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 639px) {
  #imgPerfil {
    margin-top: -80px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
  #imgPerfil {
    margin-top: -80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #principal {
    //margin-left: 250px;
  }
}

@media only screen and (min-width: 1024px) {
  #principal {
    margin-left: 250px;
  }
}