<div class="container-fluid" id="principal">
    <div id="profile-page-header" class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="./assets/images/fundo perfil.png" alt="user background">
        </div>
        <figure class="card-profile-image">
            <img id="imgPerfil" src="./assets/images/avatar-7.png" alt="profile image" class="circle z-depth-2 responsive-img activator gradient-45deg-light-blue-cyan gradient-shadow">
            <div class="col s12 m6 share-icons">
                <a href="#">
                    <i class="material-icons grey-text text-darken-1">camera_alt</i>
                </a>
                <a href="#">
                    <i class="material-icons grey-text text-darken-1">account_circle</i>
                </a>
                <a href="#">
                    <i class="material-icons grey-text text-darken-1">photo_size_select_actual</i>
                </a><a href="#">
                <i class="material-icons grey-text text-darken-1">location_on</i>
            </a></div>
        </figure>
        <div class="card-content">
            <div class="row pt-2">
                <div class="col s12 m3 offset-m2">
                    <h4 class="card-title grey-text text-darken-4">Roger Waters</h4>
                    <p class="medium-small grey-text">Project Manager</p>
                </div>
                <div class="col s12 m2 center-align">
                    <h4 class="card-title grey-text text-darken-4">10+</h4>
                    <p class="medium-small grey-text">Work Experience</p>
                </div>
                <div class="col s12 m2 center-align">
                    <h4 class="card-title grey-text text-darken-4">6</h4>
                    <p class="medium-small grey-text">Completed Projects</p>
                </div>
                <div class="col s12 m2 center-align">
                    <h4 class="card-title grey-text text-darken-4">$ 1,253,000</h4>
                    <p class="medium-small grey-text">Busness Profit</p>
                </div>
                <div class="col s12 m1 right-align">
                    <a class="btn-floating activator waves-effect waves-light rec accent-2 right">
                        <i class="material-icons">perm_identity</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <p>
                    <span class="card-title grey-text text-darken-4">Roger Waters
                      <i class="material-icons right">close</i>
                    </span>
                <span>
                      <i class="material-icons cyan-text text-darken-2">perm_identity</i> Project Manager</span>
            </p>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            <p>
                <i class="material-icons cyan-text text-darken-2">perm_phone_msg</i> +1 (612) 222 8989</p>
            <p>
                <i class="material-icons cyan-text text-darken-2">email</i> mail@domain.com</p>
            <p>
                <i class="material-icons cyan-text text-darken-2">cake</i> 18th June 1990</p>
            <p>
                <i class="material-icons cyan-text text-darken-2">airplanemode_active</i> BAR - AUS</p>
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <div class="row">
                <h3 class="z-depth-5">Dados Pessoais</h3>
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Nome</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Sobrenome</label>
                        </div>

                        <div class="input-field col s4">
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Dt. Nascimento</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">CPF</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">RG</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">person_pin</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Endereço</label>
                        </div>

                        <div class="input-field col s3">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Numero</label>
                        </div>
                        <div class="input-field col s9">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Complemento</label>
                        </div>

                        <div class="input-field col s5">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Bairro</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Cidade</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">UF</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s4">
                            <i class="material-icons prefix">phone</i>
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Telefone</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Celular</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Contato</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>