ul.side-nav.leftside-navigation li:not(.no-padding).user-details {
    background: url("/assets/images/12.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 15px;
    padding: 15px 0 0 15px;
}